doctype html
html(lang="en")
    include head.pug
    body
        form
            div(class="mdl-textfield mdl-js-textfield")
                input(class="mdl-textfield__input" type="time" id="min" name="min")
                label(class="mdl-textfield__label" for="min") min
            div(class="mdl-textfield mdl-js-textfield")
                input(class="mdl-textfield__input" type="time" id="max" name="max")
                label(class="mdl-textfield__label" for="max") max